.pacifico-regular {
    font-family: "Pacifico", cursive;
}

.bg-pink {
    background-color: hotpink;
}

.btn-purple {
    background-color: rgb(170, 132, 220);
    color: black;
}

.btn-pink {
    background-color: hotpink;
  }

.btn-light-pink {
    background-color: pink;
    color: black;
}

.calculator {
    max-width: 350px;
    margin: auto;
    border-radius: 15px !important;
    overflow: hidden;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.btn {
    width: 60px;
    height: 60px;
    padding: 0;
    line-height: 60px;
}

.result-display {
    height: 60px;
    font-size: 24px !important;
    background-color: rgb(167, 167, 167) !important;
    color: black !important;
    border: none;
}

